
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background: url('https://th.bing.com/th/id/R.cf2c83de49105d0a4e2ef78da2857abb?rik=0k1cD8O5wEk3FA&pid=ImgRaw&r=0');
    }
    
    #search-bar {
      margin: 60px auto;
      text-align: center;
    }
    
    .desplegable {
    position: fixed;
    top: 10px;
    left: 10px;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.contenido-desplegable a {
    padding: 12px;
    display: block;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s;
}

.contenido-desplegable a:hover {
    background-color: #f1f1f1;
}
    
    #search-bar input[type="text"] {
      width: 300px;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
    }
    #search-bar button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 10;
      transition: transform 0.3s ease;
    }
     #search-bar button:hover {
      transform: scale(1.1);
    }
    #search-bar img {
      width: 50px;
      height: 50px;
    }
    
    #publicar-anuncio-container {
      padding: 1px;
      border-radius: 5px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
    
    #Mis-anuncios-container {
      padding: 10px;
      border-radius: 5px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
    #publicar-anuncio-button {
        background-color: #63C5DA;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 100px;
      }
      
    #Mis-anuncios-button {
      background-color: #48AAAD;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    
    #anuncios-recientes {
      margin-top: 20px;
      text-align: center;
    }
    
    .anuncio {
      background-color: #f4f4f4;
      border: 1px solid #ccc;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
    
    .anuncio img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    
    .anuncio-button img {
      width: 50px;
      height: 50px;
    }
    #imagenOpciones {
      cursor: pointer;
      width: 55px;
      height: 50px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
 