body {
    background-image: url('fondo_signup.jpg');
    background-position: right;
    background-color: white;
    background-size: cover;
    color: white;

}

h1 {
    width:50%;
    background-color: #2E4057;
    background-size: cover;
    color: rgba(255, 255, 255, 0.575);
    padding: 20px;
    font-size: 24px;

}

.user-type {
    margin-top: 20px;
    font-size: 18px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.input-container input {
    width: 50%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #0D99FF;
    border-radius: 5px;
    background-color: #2E4057;
    color: white;
}

.accept-terms {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.accept-checkbox {
    margin: 5px 0;
}

.signup-button {
    background-color: #2E4057;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}