body {
    background-color: rgb(167, 236, 236); /* Color de fondo blanco por defecto */
    color: #000000; /* Color de texto negro por defecto */
}

.modo-oscuro {
    background-color: #000000; /* Color de fondo negro en modo oscuro */
    color: #ffffff; /* Color de texto blanco en modo oscuro */
}

.desplegable {
    position: fixed;
    top: 10px;
    left: 10px;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.contenido-desplegable a {
    padding: 12px;
    display: block;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s;
}

.contenido-desplegable a:hover {
    background-color: #f1f1f1;
}

h1 {
    margin-left: 50px; 
}
